.navbar
{
    position:fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #FFE3DC;
}

logo
{
    font-family: fantasy;
    font-size: 100%;
    margin-left: 10%;
    padding-top: 50%;
}

itens_pesquisa
{
    font-family: fantasy;
    font-size: 100%;
    margin-left: 20%;
}

itens_pesquisa:hover
{
    color: white;
}

.second_navbar
{
    position:fixed;
    top: 10%;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right,#F44E3F,#f4998D)
}

.initial_words{
    margin-left: 30%;
    margin-top:  6%
}

p{
    margin-left: 24%;
    margin-top:  6%;
    font-size: 60px;
}

h4{

    margin-left: 30%;
    margin-top:  -2%;
    font-size: 20px;
}

#loupe_img
{
    margin-left: 80%;
    height: 10%;
    width: 5%;
}

#book_img
{
    margin-left: 30%;
    height: 10%;
    width: 5%;
}

#newspaper_img
{
    margin-left: 40%;
    height: 10%;
    width: 5%;
}

#movie_img
{
    margin-left: 20%;
    height: 10%;
    width: 5%;
}
